<div class="row">
  <div class="col-lg-12">
    <h4>Join Game</h4>
    <form id="create-game-form">
      <div>
        <input type="text" name="username" id="username" />
      </div>
      <div>
        <button id="create-game-form-submit">Start New Game</button>
      </div>
    </form>
  </div>
</div>
