/* This file is for your main application css. */

#board {
  width: 100%;
  font-size: 50px;
}

.board-row {
}

.board-col {
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
}

#board div:nth-child(odd) div:nth-child(odd) {
  background-color: rgba(1,1,1,0.5);
}

#board div:nth-child(even) div:nth-child(even) {
  background-color: rgba(1,1,1,0.5);
}